@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
 
 
 :root { 
    --color-1: #393E46;
    --color-2: #181a1f;
    --color-3: #948979;
    --color-4: #dfdeb8;
}
 
 
 body { 
    color: white;
background-color: var(--color-1);
font-familly:"montserrat"sans-sense;
 }

 body
 
 
 .text-center {
    text-align: center;
  }
  
nav{ 
display: flex ;
   background-color: var(--color-3);
}


nav a {
     color: var(--color-4);
     text-decoration:none;
   padding: 16px;
   display:inline-block
}
nav a:hover{
   background-color:var(--color-2)
   /*border-bottom:2px solid black;*/
}

.me {
   border-radius: 300px;
}

.layout {
   display: flex;
   gap: 20px;
   min-height: 15vh; /* sets the height to the entire view */
 }
 
 .sidebar {
   width: 250px;
   flex-shrink: 0;  /* prevents the sidebar from shrinking */
   background: hsla(30, 43%, 32%, 0.655);
   padding: 20px;
   border-radius: 8px;
 
 }
 
 .main-content {
   flex: ________;  /* fill remaining space */
   background: hsla(30, 43%, 32%, 0.655);
   padding: 20px;
   border-radius: 8px;
 }

 .card-container {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
 }
 
 .card {
   flex: 1 1 200px; /* grow | shrink | base width — don't change this */
   background: #333333;
   border: 1px solid #0b0b0b;
   border-radius: 8px;
   padding: 20px;
 }
 
 .card h2 { margin-bottom: 8px; font-size: 1rem; }
 
 @media screen and (max-width: 480px) {
   /* Mobile Devices */
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   /* Tablet Devices */
}


@media screen and (max-width: 769px) {
   /* Laptop/Desktop Devices */
}