@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
 
 
 :root { 
    --color-1: #393E46;
    --color-2: #181a1f;
    --color-3: #948979;
    --color-4: #dfdeb8;
}
 
 
 body { 
    color: white;
background-color: var(--color-1);
font-familly:"montserrat"sans-sense;
 }

 body
 
 
 .text-center {
    text-align: center;
  }
  
nav{ 

   background-color: var(--color-3);
}


nav a {
     color: var(--color-4);
     text-decoration:none;
   padding: 16px;
   display:inline-block
}
nav a:hover{
   background-color:var(--color-2)
   /*border-bottom:2px solid black;*/
}